@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121a1b;
}

.meal-card {
  width: auto;
  height: auto;
}

.pg-title {
  color: white;
  font-family: 'Lobster', cursive;
}

.grid {
  display: grid;
}

.grid-column {
  grid-template-columns: 1fr;
}

.grid-gap-1 {
  grid-gap: 1rem;
}

.grid-gap-1\/5 {
  grid-gap: 20px;
}

@media screen and (max-width: 600px) {
  .grid-column {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 600px) {
  .grid-column {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid-column {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .grid-column {
    grid-template-columns: repeat(4, 1fr);
  }
}

.link {
  text-decoration: none;
}

.ingredients {
  margin-top: 10px;
  color: #fff;
}

.heading {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.instructions {
  margin-top: 2rem;
  color: #445052;
  color: #fff;
}

.items {
  list-style-type: circle;
  list-style-position: outside;
  font-size: 13pt;
  margin-left: 20px;
}

.items li {
  margin-bottom: 8px;
  line-height: 25px;
}

.img {
  border-radius: 16px;
  width: auto;
}

/* loading styles */

.row {
  display: block;
  position: relative;
  margin: 50px 0;
}

.container {
  width: 95%;
  max-width: 1240px;
  margin: auto;
}

.grid-row.grid-4-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.cards {
  background: #fff;
  height: auto;
  width: auto;
  overflow: hidden;
  box-shadow: 5px 8px 15px -10px rgba(0, 0, 0, 0.25);
}

.card_image {
  width: 100%;
  height: 100%;
}

.card_image.loading {
  width: 100%;
  height: 180px;
}

.card_title {
  padding: 8px;
  font-size: 22px;
  font-weight: 700;
}

.card_title.loading {
  width: 50%;
  height: 1rem;
  margin: 1rem;
  border-radius: 3px;
  position: relative;
}

.card_description {
  padding: 8px;
  font-size: 16px;
}

.card_description.loading {
  height: 3rem;
  margin: 1rem;
  border-radius: 3px;
}

.loading {
  position: relative;
  background: #ccc;
}

.loading::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100px);
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  animation: loading 0.8s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

@media screen and (max-width: 600px) {
  .grid-row.grid-4-4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
